:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light: rgba(255, 255, 255, 0.87);
  --dark: #242424;

  color-scheme: light dark;
  color: var(--light);
  fill: var(--dark);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root[data-color-scheme="dark"] {
  fill: var(--light);
  color: var(--light);
  background-color: var(--dark);
}

:root[data-color-scheme="dark"] a {
  color: rgba(255, 255, 255, 0.87);
}
:root[data-color-scheme="dark"] .icon {
  fill: rgba(255, 255, 255, 0.87);
}
:root[data-color-scheme="dark"] .input {
  background: #3b3b3b;
}

:root[data-color-scheme="light"] {
  fill: #213547;
  color: #213547;
  background-color: #ffffff;
}

:root[data-color-scheme="light"] a {
  color: #213547;
}
:root[data-color-scheme="light"] .icon {
  fill: #213547;
}

:root[data-color-scheme="light"] .input {
  color: #213547;
  background: #e3e3e3;
}

:root[data-color-scheme="light"] button {
  color: #213547;
  background-color: #e3e3e3;
}



body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
}
#root{
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    fill: #213547;
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #213547;
  }
}

.icon{
  cursor: pointer;
}
.icon:hover{
  transform: scale(1.2);
  fill: rgb(89, 89, 89);
}
